<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .title }}</title>
        <link rel="icon" href="/assets/favicon.png">
        <link rel="stylesheet" href="/assets/style.css">
        <meta name="keywords" content="holidays food fun weird wacky obscure">
        <meta name="description" content="The One Stop Shop for Fun, Obscure and Useless Holidays, with an API!">
        <script src="/assets/scripts.js"></script>
    </head>
    <body>
        {{template "content" .}}
    </body>
</html>