html {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkcyan;
}

body > div {
    width: 60%;
    margin: 0% 18%;
    background-color: cadetblue;
    border-color: dodgerblue;
    border-radius: 2em;
    border-style: solid;
    border-width: 1%;
    padding: 2%
}


.nav {
    margin: 0% 18%;
    width: 64%;
    display: table;
    align-content: center;
    text-align: center;
}

.nav > div {
    width: 20%;
    display: table-cell;
    background-color: cadetblue;
    border-color: dodgerblue;
    border-radius: 2em;
    border-style: solid;
    border-width: 1%;
    padding: 1%
}

.temp {
    width: 20%;
    margin: 1% 38%;
    background-color: cadetblue;
    border-color: dodgerblue;
    border-radius: 2em;
    border-style: solid;
    border-width: 1%;
    padding: 1%
}

div > pre {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: normal;
    background-color: slategray;
    padding: 0.5%;
    border-color: black;
    border-style: solid;
    overflow: auto;
}

ul {
    text-align: left;
    margin-left: 20%;
}

a {
    color: rebeccapurple;
    text-decoration: none;
}

#tabs {
    background-color: darkcyan;
    border-style: none;
    border-width: 0;
    padding: 0%;
    width: 65%;
    margin: 0% 17.5%;
}


.tab {
    border-radius: 2em 2em 0 0;
    width: 49%;
    display: inline-block;
    border-style: solid solid none solid;
    border-width: 5%;
    border-color: dodgerblue;
    background: cadetblue;
    padding: 1%;
}

button:active, button:focus {
    outline: none;
}

.field {
    border-radius: 0 0 2em 2em;
}