<!DOCTYPE html>
<html>
    <head>
        <title>Fun Holidays API Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}"/>
    </head>
    <body>
        <h1>    
            Fun Holidays!
        </h1>
        <h2>
            <a href="/api">Read The Docs</a>
        </h2>
        <div>
            <p>
                You've probably seen things like "National Donut Day" or "Talk Like a Pirate Day" on social media before. Have you ever wondered what weird holidays it s today (or any day) and also wanted a convenient API to help you with that? Look no further than here, the Fun Holidays API!
            </p>
        </div>
    </body>
</html>