<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="{{ url_for( 'static', filename='favicon.png' ) }}">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css' ) }}">
        <meta name="keywords" content="holidays food fun weird wacky obscure">
        <meta name="description" content="The One Stop Shop for Fun, Obscure and Useless Holidays, with an API!">
        <script src="{{ url_for( 'static', filename='js/scripts.js' ) }}"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>